[submodule "PEngine/vendor/spdlog"]
	path = PEngine/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "PEngine/vendor/GLFW"]
	path = PEngine/vendor/GLFW
	url = ../../TheCherno/GLFW.git
[submodule "PEngine/vendor/imgui"]
	path = PEngine/vendor/imgui
	url = ../../TheCherno/imgui.git
[submodule "PEngine/vendor/GLM"]
	path = PEngine/vendor/GLM
	url = ../../g-truc/glm.git
[submodule "PEngine/vendor/yaml-cpp"]
	path = PEngine/vendor/yaml-cpp
	url = ../../thecherno/yaml-cpp.git
[submodule "PEngine/vendor/ImGuizmo"]
	path = PEngine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
