# Binaries
**/bin/
bin-int/

# PEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
PEngine/vendor/VulkanSDK
PEngine-Editor/assets/cache
scripts/__pycache__

*.ini
*PEngineProfile-*.json
